topbar {
  position:absolute;
  top: 0%;
  right: 0px;
  width: 100%;
  height: 14vw;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #27a800;
  background-size: contain;
  background-repeat: no-repeat;
  color: #6bcd0a;
  font-size: 3.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  background-position: center top;
}

.redirectbutton {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #107c0e ;
  color: #fff;
  width: 25vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 750;
  font-size: 2.5vw;
  border-radius: 3vw 3vw 3vw 3vw;
  border: 0.2vw solid white;
}

.redirectbutton:hover {
  width: 25.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  background-color: #085607
}

#fartsmella {
  position: absolute;
  top: 17vw;
  right: 37.5vw;
}
#fartboard {
  position: absolute;
  top: 26vw;
  left: 37.5vw;
}
body {
  background-image: url("fart mongus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
button {
  border: none;
}
