topbar {
  position:absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #00000077;
  color: #6bcd0a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
}

.redirectbutton {
  background-color: #107c0e ;
  color: #fff;
  width: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#fartsmella {
  position: absolute;
  top: 130px;
  right: 20%;
}
#fartboard {
  position: absolute;
  top: 130px;
  left: 20%;
}
body {
  background-image: url("fart mongus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}